/* prestamo.component.scss */

prestado {
    background-color: yellow;
    color: black; /* Adjust text color for readability */
}

devuelto {
    background-color: green;
    color: white; /* Adjust text color for readability */
}

vencido {
    background-color: red;
    color: white; /* Adjust text color for readability */
}